header {
	width: 100$;
	background-color: lightgrey;
	height: 100px;
	padding-left: 15px;
	padding-top: 15px;
}
 .littleBlue {
background-color: blue;
height: 85px;
width: 85px
 }

 p{
 	height: 40%;
 }

.blue {
	background-color: skyblue;
	height: 100px;
	width: 100%;
}
.teal {
	background-color: aqua;
	height: 100px;
	width: 100%;
}	
.green{
	background-color: lightgreen;
	height: 100px;
	width: 100%;
}
.yellow {
	background-color: yellow;
	height: 100px;
	width: 100%;
}